*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
}

body {
    margin: 0;
    text-align: center;
    padding: 10%;
    background: rgba(36, 35, 35, 0.753);
    font-family: 'Times New Roman', Times, serif;
    color:white
    
}

.text { 
    margin: 0;
    
    
}

.titulo{
    margin: 0;
    padding: 5%;
    font-size: 35px;
    font-weight: bold;
    text-decoration-line:underline;
    
}

.paragrafo {
    margin: 0;
    padding-bottom: 2%;
    text-align: justify;
    font-size: 15px;
    
    
}

.box {
    margin: 0px;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

label{
    text-align: center;
}

.btn{
    background-color: rgb(248, 245, 245);
    text-align: center;
    font-size: 15px;
    text-emphasis: none;
    font-weight: bold;
    width: 60px;
    position:relative;
    
    
    
}
.btnreset{ 
    background-color: rgb(248, 245, 245);
    text-align: center;
    font-size: 15px;
    text-emphasis: none;
    font-weight: bold;
    width: 75px;
    position:relative;

}
p {
    text-align: center;
    padding: 5px; 
    font-size: 20px;  
}

.fim {
    text-align: center;
    font-size: 20px;
    color: rgb(104, 13, 89);
    font-weight: bold;
    text-decoration-line:underline;
}